@import '../../styles/components/flex.scss';

.todo-item {
  padding: px(10) 0;
  border-bottom: 1px solid rgba($color-border, .1);
  &__title {
    font-size: 14PX;
  }

  &__time {
    font-size: 12PX;
    color: $color-gray-2;
    padding-left: px(16);
  }
}

.weui-cells_checkbox {
  margin-top: px(-15);
  margin-right: px(5);
}



.taro-checkbox_checked {
  width: px(12);
  height: px(12);
  border-radius: 50%;

  &:checked {
    background: $color-green;
  }

  &:checked::before {
    color: $color-white;
    transform: translate(-50%, -48%) scale(0.3);
  }
  
}