@import '../../styles/mixins/px.scss';

.head {
  padding: px(30) px(20);
  background: #fff;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-img {
    width: px(45);
    height: px(45);
    border-radius: 10px;
    background: #eee;
    box-shadow: rgba(0,0,0,.1);
  }
}